* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: hsl(30, 54%, 90%);
  padding: 30px;
  color: hsl(30, 10%, 34%);
  font-family: 'Outfit', sans-serif;
}

img {
  width: 600px;
  margin: 0 auto;
  border-radius: 8px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 25px;
  max-width: 650px;
  border-radius: 8px;
  margin: 0 auto;
}



.title {
  margin: 16px 0;
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
}

.header .title {
  color: hsl(24, 5%, 18%);
}

.info {
  margin-bottom: 16px;
}

.header .wrapper {
  background-color:  hsl(330, 100%, 98%);
  padding: 10px;
  border-radius: 8px;
}

.prep-list-time {
  padding: 20px 40px;
}

.prep-title {
  color: hsl(332, 51%, 32%);
  font-size: 20px;
  margin-top: 20px;
  padding-left: 15px;
}

.list-item {
  margin-bottom: 8px;
}

.prep-time::marker {
  color: hsl(332, 51%, 32%);;
}

.instruction-list-item::marker {
  font-weight: bold;
}

.ingredients-list-item::marker, 
.instruction-list-item::marker {
  color: hsl(14, 45%, 36%);
}

.ingredients-list-items, 
.instructions-list-items {
  padding: 0 15px 25px 15px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition-title {
  margin-top: 30px;
}

.nutrition .wrapper {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-bottom: 16px;
}

.nutrition-box {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-top: 8px;
}

.nutrition-value-title {
  font-weight: 400;
  margin-left: 30px;
}

.nutrition-value {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.attribution { 
  font-size: 14px;
  text-align: center; 
  margin-top: 16px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}